
/Custom
/OpenIdAuth
/AnalyticsDashboard
/Base
/CampaignDesigner
/CaseService
/ContentBuilder
/CoreForecast
/Deduplication
/DesignerTools
/Exchange
/HomePage
/IntegrationV2
/MarketingCampaign
/NUI
/OmnichannelMessaging
/RelationshipDesigner
/ServiceDesigner
/SspWorkplace
/UIv2
/Workplace
/PivotTable
/Tracking
